@layer components {
  .btn {
    $btn: &;
    @apply inline-flex items-center justify-center gap-2 px-4 py-2 rounded-primary cursor-pointer text-sm transition-colors ease-in-out duration-150 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60;

    //Sizes
    &-xs {
      @apply text-xs px-2 py-1;
    }

    &-sm {
      @apply text-sm px-3 py-1.5;
    }

    &-md {
      @apply text-sm px-4 py-2;
    }

    &-lg {
      @apply text-base px-5 py-2.5;
    }

    &-xl {
      @apply text-base px-6 py-3;
    }

    //Groups
    &-group {
      @apply inline-flex rounded-primary;

      & > #{$btn} {
        @apply rounded-none;
        
        &:first-child {
          @apply rounded-l-primary;
        }
  
        &:last-child {
          @apply rounded-r-primary border-l-0;
        }
  
        &:not(:first-child):not(:last-child) {
          @apply border-l-0;
        }
      }

      &.rounded {
        #{$btn}:first-child {
          @apply rounded-l-full;
        }

        #{$btn}:last-child {
          @apply rounded-r-full;
        }
      }
    }

    &-primary {
      @apply bg-primary-500 text-white hover:bg-primary-600 focus:ring focus:ring-primary-500 focus:ring-opacity-50;
    }

    &-secondary {
      @apply bg-secondary-500 text-white hover:bg-secondary-600 focus:ring focus:ring-secondary-500 focus:ring-opacity-50;
    }

    &-success {
      @apply bg-success-500 text-white hover:bg-success-600 focus:ring focus:ring-success-500 focus:ring-opacity-50;
    }

    &-warning {
      @apply bg-warning-500 text-white hover:bg-warning-600 focus:ring focus:ring-warning-500 focus:ring-opacity-50;
    }

    &-danger {
      @apply bg-danger-500 text-white hover:bg-danger-600 focus:ring focus:ring-danger-500 focus:ring-opacity-50;
    }

    &-info {
      @apply bg-info-500 text-white hover:bg-info-600 focus:ring focus:ring-info-500 focus:ring-opacity-50;
    }

    &-dark {
      @apply bg-dark-500 text-white hover:bg-dark-600 focus:ring focus:ring-dark-500 focus:ring-opacity-50;
    }

    &-outline-primary {
      @apply border border-primary-500 text-primary-500 focus:border-primary-600 focus:bg-primary-100 focus:text-primary-600 hover:bg-primary-100 dark:hover:bg-primary-500 dark:hover:text-slate-200;
    }

    &-outline-secondary {
      @apply border border-secondary-500 text-secondary-500 focus:border-secondary-600 focus:bg-secondary-100 focus:text-secondary-600 hover:bg-secondary-100 dark:hover:bg-secondary-500 dark:hover:text-slate-200;
    }

    &-outline-success {
      @apply border border-success-500 text-success-500 focus:border-success-600 focus:bg-success-100 focus:text-success-600 hover:bg-success-100 dark:hover:bg-success-500 dark:hover:text-slate-200;
    }

    &-outline-info {
      @apply border border-info-500 text-info-500 focus:border-info-600 focus:bg-info-100 focus:text-info-600 hover:bg-info-100 dark:hover:bg-info-500 dark:hover:text-slate-200;
    }

    &-outline-warning {
      @apply border border-warning-500 text-warning-500 focus:border-warning-600 focus:bg-warning-100 focus:text-warning-600 hover:bg-warning-100 dark:hover:bg-warning-500 dark:hover:text-slate-200;
    }

    &-outline-danger {
      @apply border border-danger-500 text-danger-500 focus:border-danger-600 focus:bg-danger-100 focus:text-danger-600 hover:bg-danger-100 dark:hover:bg-danger-500 dark:hover:text-slate-200;
    }

    &-outline-dark {
      @apply border border-dark-500 text-dark-500 focus:border-dark-600 focus:bg-dark-100 focus:text-dark-600 hover:bg-dark-100 dark:hover:bg-dark-500 dark:hover:text-slate-200;
    }

    &-plain-primary {
      @apply text-primary-500 focus:bg-primary-100 focus:text-primary-600 hover:bg-primary-100;
    }

    &-plain-secondary {
      @apply text-secondary-500 focus:bg-secondary-100 focus:text-secondary-600 hover:bg-secondary-100;
    }

    &-plain-success {
      @apply text-success-500 focus:bg-success-100 focus:text-success-600 hover:bg-success-100;
    }

    &-plain-info {
      @apply text-info-500 focus:bg-info-100 focus:text-info-600 hover:bg-info-100;
    }

    &-plain-warning {
      @apply text-warning-500 focus:bg-warning-100 focus:text-warning-600 hover:bg-warning-100;
    }

    &-plain-danger {
      @apply text-danger-500 focus:bg-danger-100 focus:text-danger-600 hover:bg-danger-100;
    }

    &-plain-dark {
      @apply text-dark-500 focus:bg-dark-100 focus:text-dark-600 hover:bg-dark-200;
    }

    &-soft-primary {
      @apply bg-primary-100 text-primary-500 focus:bg-primary-200 focus:text-primary-600 hover:bg-primary-200 dark:bg-primary-900 dark:text-primary-200 dark:hover:bg-primary-800;
    }

    &-soft-secondary {
      @apply bg-secondary-100 text-secondary-500 focus:bg-secondary-200 focus:text-secondary-600 hover:bg-secondary-200 dark:bg-secondary-700 dark:text-secondary-200 dark:hover:bg-secondary-600;
    }

    &-soft-success {
      @apply bg-success-100 text-success-500 focus:bg-success-200 focus:text-success-600 hover:bg-success-200 dark:bg-success-800 dark:text-success-200 dark:hover:bg-success-700;
    }

    &-soft-info {
      @apply bg-info-100 text-info-500 focus:bg-info-200 focus:text-info-600 hover:bg-info-200 dark:bg-info-800 dark:text-info-200 dark:hover:bg-info-700;
    }

    &-soft-warning {
      @apply bg-warning-100 text-warning-500 focus:bg-warning-200 focus:text-warning-600 hover:bg-warning-200 dark:bg-warning-800 dark:text-warning-200 dark:hover:bg-warning-700;
    }

    &-soft-danger {
      @apply bg-danger-100 text-danger-500 focus:bg-danger-200 focus:text-danger-600 hover:bg-danger-200 dark:bg-danger-900 dark:text-danger-300 dark:hover:bg-danger-800;
    }

    &-soft-dark {
      @apply bg-dark-200 text-dark-500 focus:bg-dark-300 focus:text-dark-600 hover:bg-dark-300 dark:bg-dark-800 dark:text-dark-200 dark:hover:bg-dark-700;
    }
  }
}
