@layer components {

    .list{
        $list: &;
        &-group{
            @apply inline-block w-auto rounded-primary text-sm border  bg-white font-medium dark:bg-slate-800  border-slate-300 dark:border-slate-600;
            li:first-child{
                @apply rounded-t-primary;
            }
            li:last-child{
                @apply border-b-0 rounded-b-primary;
            }
        }
        &-item{
            @apply py-2 px-4 min-w-[10rem] text-left border-b border-b-slate-300 dark:border-slate-600 hover:bg-slate-100 dark:hover:bg-slate-600 duration-150 ease-in cursor-pointer;
            & > h5{
                @apply text-sm font-normal;
            }
        }
        &-item-icon{
            @apply py-2 px-4 min-w-[10rem] flex items-center text-left border-b border-b-slate-300 dark:border-slate-600 hover:bg-slate-100 dark:hover:bg-slate-600 duration-100 ease-in cursor-pointer;
        }
        &-item-primary{
            @apply py-2 px-4 min-w-[10rem] text-left hover:bg-primary-600 hover:text-white duration-150 ease-in cursor-pointer bg-primary-300 text-primary-600 ;
        }
        &-item-success{
            @apply py-2 px-4 min-w-[10rem] text-left hover:bg-success-600 hover:text-white duration-150 ease-in cursor-pointer  bg-success-300 text-success-600 ;
        }
        &-item-secondary{
            @apply py-2 px-4 min-w-[10rem] text-left hover:bg-secondary-600 hover:text-white duration-150 ease-in cursor-pointer  bg-secondary-300 text-secondary-600 ;
        }
        &-item-warning{
            @apply py-2 px-4 min-w-[10rem] text-left hover:bg-warning-600 hover:text-white duration-150 ease-in cursor-pointer  bg-warning-300 text-warning-600;
        }
        &-item-danger{
            @apply py-2 px-4 min-w-[10rem] text-left hover:bg-danger-600 hover:text-white duration-150 ease-in cursor-pointer  bg-danger-300 text-danger-600 ;
        }
        &-item-dark{
            @apply  py-2 px-4 min-w-[10rem] text-left hover:bg-dark-600 hover:text-white duration-150 ease-in cursor-pointer bg-dark-300 text-dark-600 ;
        }
        &-group-avatar,
        &-group-content{
            @apply  inline-block w-auto rounded-primary border bg-white font-medium dark:bg-slate-800  border-slate-300 dark:border-slate-600;
        }
        &-group-content-item{
            & > h5{
                @apply  text-sm tracking-tighter font-normal ;
            }
        }
        &-content-header{
            @apply flex w-full justify-between items-center pb-2 px-0;
            & > h6{
                @apply text-2xl font-medium; 
            }
            & > small{
                @apply text-xs font-medium; 
            }
        }
        &-item-avatar{
            @apply py-2 px-4  w-full flex items-center font-light border-b border-b-slate-300 dark:border-slate-600 hover:bg-slate-100 dark:hover:bg-slate-600 duration-100 ease-in cursor-pointer;
        }
        &-desciption{
            @apply ml-2;
            & > h6{
                @apply text-xl font-normal;
            }
            & > p{
                @apply text-sm tracking-tighter font-normal;
            }
        }

        &-item.active,
        &-item-icon.active,
        &-item-avatar.active{
            @apply bg-primary-500 hover:bg-primary-500 text-slate-100;
        }
        
        &-item.disabled,
        &-item-icon.disabled,
        &-item-avatar.disabled{
            @apply  text-[#6C757D]  bg-slate-50 dark:bg-slate-800 dark:hover:bg-slate-800 hover:bg-slate-50  cursor-not-allowed;
        }
        // &-item:last-child,
        // &-item-icon:last-child,
        // &-item-avatar:last-child{
        //     @apply border-b-0 rounded-b-primary;
        // }
        // &-item:first-child,
        // &-item-icon:first-child,
        // &-item-avatar:first-child{
        //     @apply rounded-t-primary;
        // }
    }
}
