@layer components {
  .select {
    @apply w-full h-10 px-4 text-sm rounded-primary bg-transparent border border-slate-300 text-slate-700 focus:ring-1 focus:border-primary-500 focus:ring-primary-500 disabled:cursor-not-allowed disabled:opacity-50 disabled:bg-slate-100 dark:focus:border-primary-500 dark:disabled:bg-slate-700 dark:text-slate-400 dark:bg-transparent dark:border-slate-600;

    & > option {
      @apply text-slate-700;
    }

    & > option[disabled] {
      @apply text-slate-400 bg-slate-100 dark:text-slate-500 dark:bg-slate-700;
    }

    &-sm {
      @apply h-9;
    }

    &-md {
      @apply h-10;
    }

    &-lg {
      @apply h-11;
    }

    &-valid {
      @apply border-success-500  focus:border-success-500 focus:ring-success-500 dark:focus:border-success-500 dark:border-success-500;
    }

    &-invalid {
      @apply border-danger-500  focus:border-danger-500 focus:ring-danger-500 dark:focus:border-danger-500 dark:border-danger-500;
    }
  }
  
  //Prevent multiple scrollbar appearing
  select.tom-select {
    display: none !important;
  }

  .tom-select {

    &.ts-wrapper.single.input-active .ts-control,
    &.ts-wrapper.multi.input-active .ts-control,
    .ts-control {
      @apply bg-transparent border border-slate-200 dark:border-slate-600 dark:bg-transparent;
    }

    &.ts-wrapper.input-active .ts-control{
      outline: 0 !important;
    }

    & > .ts-control {
      @apply h-10 rounded-primary px-4 text-slate-700 dark:text-slate-300 after:content-['\ea5f'] after:font-['tabler-icons'] after:text-base after:inline-flex after:text-slate-500 after:dark:text-slate-400/60 after:justify-center after:items-center after:w-4 after:h-4 after:absolute after:top-0 after:bottom-0 after:right-2 after:m-auto;
    }

    & > .ts-control > input {
      @apply placeholder:text-sm placeholder:text-slate-400;
    }

    &.ts-wrapper.single > .ts-control > .item {
      @apply text-sm;
    }

    &.ts-wrapper.multi > .ts-control > .item {
      @apply text-sm rounded-full px-[0.7rem] py-[0.15rem] bg-primary-100 text-primary-500 dark:text-primary-500 dark:bg-primary-500/10;

      &:not(:last-child) {
        @apply mr-2;
      }
    }

    & > .ts-dropdown {
      @apply w-full rounded-primary p-2 border border-slate-200 bg-white dark:bg-slate-800 dark:border-slate-600;

      .dropdown-input-wrap > input {
        @apply text-sm text-slate-700 border border-slate-200 rounded placeholder:text-slate-400 focus-visible:outline-none focus:border-primary-500 focus:ring-1 focus:ring-primary-500 dark:text-slate-300;
      }

      & > .ts-dropdown-content {
        @apply mt-2;

        & > .optgroup > .optgroup-header {
          @apply text-sm mb-2 font-semibold text-slate-500 bg-transparent dark:text-slate-400;
        }

        & > .option,
        & > .optgroup > .option {
          @apply p-2 rounded text-sm text-slate-500 dark:text-slate-400;

          &:not(:last-child) {  
            @apply mb-1;
          }

          &.active {
            @apply text-primary-500 bg-primary-100 dark:bg-primary-500/10;
          }

          &.selected {
            @apply text-white bg-primary-500 dark:bg-primary-500 dark:text-white;
          }
        }

        & > .no-results { 
          @apply text-sm text-slate-500 dark:text-slate-400;
        }
      }
    }
  }
}