@layer components {
  .tabs {
    $tabs: &;
    @apply flex flex-col gap-4;

    &-vertical {
      @apply flex-row gap-0;
    }

    &-list {
      @apply flex items-center border-b border-r border-r-transparent border-b-slate-200/80 dark:border-b-slate-700/80;

      #{$tabs}-vertical & {
           @apply flex-col border-b-transparent border-r-slate-200/80 dark:border-r-slate-700/80;
           
           & > li {
                @apply w-full border-0 border-black;
           }
      }

      #{$tabs}-pill & {
           @apply border-b-transparent dark:border-b-transparent;
      }
    }

    &-content {
      @apply border-0 border-black;
    }

    &-panel {
      @apply w-full h-full hidden px-4 py-2 tracking-wide text-sm text-slate-500 dark:text-slate-400;

      &.active {
           @apply block;
      }
    }

    &-btn {
          @apply w-full inline-flex items-center gap-2 px-6 py-4 relative font-medium tracking-wide text-sm bg-transparent transition-colors duration-150 ease-in-out;

          &:not(.active, .disabled) {
              @apply text-slate-500  hover:text-primary-500 dark:text-slate-400 dark:hover:text-primary-500;
          }

          #{$tabs}-pill & {
              @apply py-2 rounded-primary;
          }

          #{$tabs}-vertical & {
              @apply py-3;
          }

          #{$tabs}:not(#{$tabs}-pill) &::after {
              @apply content-[''] inline-block w-full h-[2px] rounded-full bg-transparent absolute top-full left-1/2 -translate-x-1/2 -translate-y-1/2;
          }

          #{$tabs}#{$tabs}-vertical &::after {
              @apply w-[2px] h-[100%] top-1/2 left-full -translate-x-1/2 -translate-y-1/2;
          }

          &.active {
              @apply text-primary-500;

              &::after {
                    background-color: theme('colors.primary.500') !important;
              }
              
              #{$tabs}-pill & {
                    @apply bg-primary-500 text-slate-100;
              }
          }
    
          &.disabled {
              @apply bg-transparent opacity-40 cursor-not-allowed;
          }
    }

  }
}
