@layer components {
  .textarea {
    @apply w-full min-h-[5rem] inline-block rounded-primary border border-slate-300 bg-transparent text-sm text-slate-600 px-4 py-2 placeholder:text-slate-500 focus:ring-1 focus:border-primary-500 focus:ring-primary-500 disabled:cursor-not-allowed disabled:opacity-50 disabled:bg-slate-200 disabled:text-slate-500 dark:text-slate-300 dark:border-slate-600  dark:placeholder:text-slate-400 dark:focus:border-primary-500 dark:disabled:bg-slate-700;

    &-sm {
      @apply text-xs min-h-[3rem];
    }

    &-md {
      @apply text-sm min-h-[5rem];
    }
    
    &-lg {
      @apply text-base min-h-[7rem];
    }

    &-valid {
      @apply border-success-500 focus:border-success-500 focus:ring-1 focus:ring-success-500 dark:border-success-500 dark:focus:border-success-500 dark:focus:ring-success-500;
    }
  
    &-invalid {
      @apply border-danger-500 focus:border-danger-500 focus:ring-1 focus:ring-danger-500 dark:border-danger-500 dark:focus:border-danger-500 dark:focus:ring-danger-500;
    }
  }
}