@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply font-semibold leading-tight text-slate-600 dark:text-slate-200;
  }

  h1,
  .h1 {
    @apply text-[2.5rem]; //40px(100%)
  }

  h2,
  .h2 {
    @apply text-[2rem]; //32px(80%)
  }

  h3,
  .h3 {
    @apply text-[1.75rem]; //28px(70%)
  }

  h4,
  .h4 {
    @apply text-2xl; //24px(60%)
  }

  h5,
  .h5 {
    @apply text-xl; //24px(50%)
  }

  h6,
  .h6 {
    @apply text-base; //16px(40%)
  }

  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .display-5,
  .display-6 {
    @apply font-semibold leading-tight text-slate-600 dark:text-slate-200;
  }

  .display-1 {
    font-size: 80px; //80px(100%) 
  }

  .display-2 {
    font-size: 72px; //72px(90%) 
  }

  .display-3 {
    font-size: 64px; //64px(80%) 
  }

  .display-4 {
    font-size: 56px; //56px(70%) 
  }

  .display-5 {
    font-size: 48px; //48px(60%) 
  }

  .display-6 {
    font-size: 40px; //40px(50%) 
  }

  .text {
    &-lead {
      @apply text-lg text-slate-600 dark:text-slate-200;
    }
  
    &-muted {
      @apply text-slate-400/80 dark:text-slate-600;
    }
  }

  mark {
    @apply bg-warning-100 dark:bg-warning-200 px-[.5em] rounded-sm;
  }

  .blockquote {
    @apply font-medium italic text-slate-500 dark:text-slate-300 border-l-[.25rem] border-l-slate-200 dark:border-l-slate-800 pl-4;
    & > p {
      @apply before:content-['"'] after:content-['"'];
    }
  }
}