@layer utilities {
  .container-fluid {
    @apply w-full px-6;
  }

  .zero-sr-only {
    // Set the width, height and margin to `0` to prevent extra scrollbar appearing in chrome browser.
    @apply sr-only m-0 h-0 w-0;
  }

  /* Chrome, Safari and Opera */
  #chats::-webkit-scrollbar {
    display: none;
  }
  #chats {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  // Email Tags Styles 
  .tags-input-wrapper {
    @apply bg-transparent flex-1 flex gap-2 flex-wrap;
    & input {
      @apply border-none bg-transparent outline-none flex-1 ml-2;
  }
  & .tag {
    @apply inline-block bg-slate-50 dark:bg-slate-900 text-xs font-medium text-slate-600 dark:text-slate-400 rounded-full py-1 px-2 my-1 shadow;
    & a {
      @apply mx-1 inline-block cursor-pointer;
  }
}
    
}
}
