@layer utilities {
  .container-fluid {
    @apply w-full px-6;
  }

  .zero-sr-only {
    // Set the width, height and margin to `0` to prevent extra scrollbar appearing in chrome browser.
    @apply sr-only w-0 h-0 m-0;
  }
  
  /* Chrome, Safari and Opera */
  #chats::-webkit-scrollbar {
    display: none;
  }
  #chats {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
    // Sticky Section Styles 
    .section-sticky {
      &.appear {
        position: relative;
      }
      // For All browser Supports 
      @supports (position: sticky) {
        &.appear {
          position: sticky;
        }
      }
  
    }
}
