// Vendor css files.
@import 'simplebar/dist/simplebar.css';
@import 'boxicons/css/boxicons.css';
@import 'spinkit/spinkit.css';
@import 'flatpickr/dist/flatpickr.css';
@import 'quill/dist/quill.snow.css';
@import 'quill/dist/quill.bubble.css';
@import 'swiper/swiper-bundle.css';
@import 'dropzone/dist/dropzone.css';
@import '@tabler/icons-webfont/tabler-icons.min.css';
@import 'flag-icons/css/flag-icons.min.css';
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/animations/shift-away.css';
@import 'tippy.js/animations/shift-away-subtle.css';
@import 'tippy.js/animations/shift-away-extreme.css';
@import 'tippy.js/animations/shift-toward.css';
@import 'tippy.js/animations/shift-toward-subtle.css';
@import 'tippy.js/animations/shift-toward-extreme.css';
@import 'tippy.js/animations/scale.css';
@import 'tippy.js/animations/scale-subtle.css';
@import 'tippy.js/animations/scale-extreme.css';
@import 'tippy.js/animations/perspective.css';
@import 'tippy.js/animations/perspective-subtle.css';
@import 'tippy.js/animations/perspective-extreme.css';
@import 'tippy.js/themes/light.css';
@import 'tippy.js/themes/light-border.css';
@import 'tippy.js/themes/material.css';
@import 'tippy.js/themes/translucent.css';
@import '@yaireo/tagify/dist/tagify.css';
@import 'toastify-js/src/toastify.css';
@import 'tom-select/dist/scss/tom-select.scss';

// Base
@import 'tailwind';
@import 'base';
@import 'typography';
@import 'utilities';
@import 'sidebar';
@import 'reset';

// Components
@import 'components/code-viewer';
@import 'components/toggle';
@import 'components/card';
@import 'components/calendar';
@import 'components/button';
@import 'components/breadcrumb';
@import 'components/dropdown';
@import 'components/accordion';
@import 'components/badge';
@import 'components/input';
@import 'components/input-group';
@import 'components/textarea';
@import 'components/alert';
@import 'components/radio';
@import 'components/checkbox';
@import 'components/modal';
@import 'components/pagination';
@import 'components/avatar';
@import 'components/progressbar';
@import 'components/tabs';
@import 'components/toast';
@import 'components/list-group';
@import 'components/select';
@import 'components/table';
@import 'components/spinner';
@import 'components/datepicker';
@import 'components/data-table';
@import 'components/carousel';
@import 'components/drawer';
@import 'components/uploader';
